/* .con {
  background-image: url("https://img.freepik.com/free-vector/accountant-office-manager-professional-bookkeeper-concept-tax-calculating-reporting-business-character-making-money-transfer-vector-illustration_613284-1042.jpg?w=740&t=st=1691774820~exp=1691775420~hmac=428d5af8e4951b985f1396cbb4e20610ab6accf83de1bb2f77eb118b855a9b56");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.card {
  font-size: 15px;
}

img {
  height: 150px;
  padding-left: 100px;
}
/* .nav.navbar.bg-body-tertiary.fixed-top{
  height: 0px
} */ 