body {
	font-family: Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	max-width: 400px;
	padding: 20px;
	background-color: #fff;
	border: 2px inset #800080;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	text-align: center;
	transition: box-shadow 0.3s ease;
}

.container:hover {
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

h1 {
	color: #333;
	margin-bottom: 20px;
}

p {
	color: #666;
	margin-bottom: 10px;
}